@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

header {
  padding: 10px 0;
  width: 100%;
  background-color: #244e33;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
a p {
  text-transform: uppercase;
  color: #2c6b2f;
  font-weight: 800;
  font-size: 20px;
}
nav ul li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
}
section {
  padding: 0 20px;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a p {
  color: white;
}
.logo a {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* .container-features {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #fff;
}

.feature {
  text-align: center;
  width: 30%;
} */

footer {
  background-color: #2c6b2f;
  color: white;
  padding: 30px 0;
  font-size: 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer p {
  margin: 0;
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-menu li {
  margin-left: 20px;
}

.footer-menu a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.footer-menu a:hover {
  color: #f4a300;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container-header {
    flex-direction: column;
  }
}

/* ======= CONTACTO ======= */
.contact {
  background-color: #f4f4f4;
  color: #244e33;
  padding: 100px 20px;
}
.container-contact {
  display: flex;
}
.contact-text,
.form {
  flex: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  position: relative;
}

.contact h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ffcc70;
  margin: 10px;
  border-radius: 2px;
}

.contact p {
  font-size: 1.1rem;
}
.container-contact {
  margin-top: 50px;
}
/* INFORMACIÓN DE CONTACTO */
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.1rem;
}
.info-item p {
  display: flex;
  flex-direction: column;
  justify-content: start;

  align-items: start;
}

.info-item i {
  font-size: 1.5rem;
  color: #ffcc70;
}
.info-item strong {
  color: #388e3c;
}
/* FORMULARIO DE CONTACTO */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.contact-form button {
  padding: 12px;
  background-color: #ffcc70;
  color: #2c6b2f;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  background-color: #ffb347;
  transform: scale(1.05);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
  }
}

.info-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.1rem;
}

.info-item i {
  font-size: 1.5rem;
  color: #ffcc70;
  transition: transform 0.3s ease-in-out;
}

.info-item:hover i {
  transform: scale(1.2);
}
.btn-contact {
  display: inline-block;
  background-color: #ffcc70;
  color: #2c6b2f;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn-contact:hover {
  background-color: #ffb347;
  transform: scale(1.05);
}

.contact-button-container {
  margin-top: 20px;
  text-align: center;
}

/* privacy */

.privacy-policy {
  background-color: #f5f5f5;
  padding: 100px 0;
  animation: fadeIn 1s ease-in-out;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2c6b2f;
  margin-bottom: 20px;
  text-align: center;
}

.subsection-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2c6b2f;
  margin-top: 40px;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
  margin-bottom: 20px;
  text-align: justify;
}

.privacy-list {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
  margin-left: 20px;
}

.privacy-list li {
  margin-bottom: 10px;
}

.final-text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
  margin-top: 30px;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* terms */

.terms-conditions {
  background-color: #f4f4f4;
  padding: 100px 0;
  animation: fadeIn 1s ease-in-out;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2c6b2f;
  margin-bottom: 20px;
  text-align: center;
}

.subsection-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2c6b2f;
  margin-top: 40px;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
  margin-bottom: 20px;
  text-align: justify;
}

.terms-list {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
  margin-left: 20px;
}

.terms-list li {
  margin-bottom: 10px;
}

.final-text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
  margin-top: 30px;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* cookies */

.cookies-policy {
  padding: 100px 0;
  font-size: 1rem;
  color: #333;
}

h2.section-title {
  text-align: center;
  font-size: 2rem;
  color: #2c6b2f;
  margin-bottom: 20px;
}

h3.subsection-title {
  color: #2c6b2f;
  font-size: 1.5rem;
  margin-top: 30px;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

.cookies-categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.category-item {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.category-item h4 {
  color: #2c6b2f;
  font-size: 1.2rem;
}

p,
ul {
  line-height: 1.6;
}

p {
  margin-bottom: 15px;
}

footer {
  background-color: #2c6b2f;
  color: white;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: #f4a300;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* cookies */

/* Стиль для блоку куків */
.cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-top: 3px solid #f4a300;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.cookie-consent .cookie-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cookie-consent p {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 10px;
}

.cookie-consent a {
  color: #f4a300;
  text-decoration: none;
  font-weight: bold;
}

.cookie-consent a:hover {
  text-decoration: underline;
}

.cookie-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.cookie-accept,
.cookie-decline {
  background-color: #f4a300;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cookie-accept:hover {
  background-color: #e1a100;
}

.cookie-decline {
  background-color: #b22222;
}

.cookie-decline:hover {
  background-color: #8b0000;
}
@media (max-width: 768px) {
  footer {
    padding: 20px 20px;
  }
}

/* General Styling */
.hero {
  position: relative;
  background: url("./img/hero.webp") center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 51, 102, 0.7);
}
.content {
  position: relative;
  max-width: 600px;
  z-index: 2;
  animation: fadeIn 1.5s ease-in-out;
}
.title {
  font-size: 2.8rem;
  margin-bottom: 15px;
  color: #ffc107;
}
.title span {
  color: #4caf50;
}
.subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.cta-button {
  display: inline-block;
  background: #ffc107;
  color: #333;
  padding: 12px 24px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease-in-out, transform 0.2s;
}
.cta-button:hover {
  background: #ff9800;
  transform: scale(1.05);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.why-choose-solar {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.why-choose-solar .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #003366; /* Azul oscuro */
  margin-bottom: 20px;
  animation: fadeIn 1s ease-out;
}

.section-description {
  font-size: 1.2rem;
  color: #333333;
  line-height: 1.6;
  margin-bottom: 40px;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  justify-items: center;
  margin-bottom: 40px;
}

.feature {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease;
}

.feature:hover {
  transform: translateY(-10px);
}

.feature i {
  font-size: 3rem;
  color: #ffc107; /* Amarillo dorado */
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 1.6rem;
  color: #003366;
  margin-bottom: 15px;
}

.feature p {
  font-size: 1rem;
  color: #333333;
}

.solar-image {
  margin-top: 40px;
}

.solar-image img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .features {
    grid-template-columns: 1fr 1fr;
  }

  .solar-image img {
    max-width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.products-services {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.products-services .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #003366;
  margin-bottom: 30px;
  animation: fadeIn 1s ease-out;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.service-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  animation: fadeIn 1.5s ease-out;
}

.service-item:hover {
  transform: translateY(-10px);
}

.service-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.service-item:hover .service-img {
  transform: scale(1.05);
}

.service-text i {
  font-size: 3rem;
  color: #ffc107;
  margin-bottom: 15px;
}

.service-text h3 {
  font-size: 1.5rem;
  color: #003366;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-text p {
  font-size: 1rem;
  color: #333333;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sustainability-commitment {
  background-color: #f1f8f6;
  padding: 60px 0;
}

.sustainability-commitment .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #4caf50; /* Verde */
  margin-bottom: 40px;
  animation: fadeIn 1s ease-out;
}

.sustainability-text {
  font-size: 1.2rem;
  color: #333333;
  line-height: 1.6;
  margin-bottom: 40px;
}

.sustainability-text p {
  margin-bottom: 20px;
}

.sustainability-text strong {
  color: #003366; /* Azul oscuro */
  font-weight: bold;
}

.sustainability-image {
  text-align: center;
  margin-top: 20px;
  animation: fadeIn 1.5s ease-out;
}

.sustainability-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .sustainability-image img {
    max-width: 100%;
  }
}

/* about page */

.about-us {
  background-color: #f4f4f4;
  padding: 80px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #003366; /* Azul oscuro */
  margin-bottom: 40px;
  animation: fadeIn 1s ease-out;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.text-content {
  width: 50%;
  text-align: left;
  color: #333333;
}

.text-content h3 {
  font-size: 2rem;
  color: #003366;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.image-content {
  width: 50%;
}

.image-content img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .text-content {
    width: 100%;
    margin-bottom: 30px;
  }

  .image-content {
    width: 100%;
  }

  .image-content img {
    max-width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mission-vision {
  background-color: #fff;
  padding: 80px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #003366; /* Azul oscuro */
  text-align: center;
  margin-bottom: 40px;
  animation: fadeIn 1s ease-out;
}

.mission-vision-content {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-top: 40px;
}

.mission,
.vision {
  width: 48%;
  color: #333333;
  background-color: #f4f4f4;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.mission:hover,
.vision:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.subsection-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #003366;
  margin-bottom: 15px;
}

.mission p,
.vision p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333333;
}

@media (max-width: 768px) {
  .mission,
  .vision {
    width: 80%;
    margin-bottom: 30px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.our-values {
  background-color: #fafafa;
  padding: 80px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #003366; /* Azul oscuro */
  text-align: center;
  margin-bottom: 40px;
  animation: fadeIn 1s ease-out;
}

.section-description {
  font-size: 1.1rem;
  text-align: center;
  color: #333333;
  margin-bottom: 60px;
}

.values {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  justify-items: center;
}

.value {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
  max-width: 320px;
}

.value:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.value i {
  font-size: 3rem;
  color: #4caf50; /* Verde */
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.value h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #003366;
  margin-bottom: 15px;
}

.value p {
  font-size: 1.1rem;
  color: #333333;
  line-height: 1.6;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }

  .value {
    padding: 25px;
  }
}

.our-history {
  background-color: #f9f9f9;
  padding: 80px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #003366;
  text-align: center;
  margin-bottom: 30px;
  animation: fadeIn 1s ease-out;
}

.section-description {
  font-size: 1.1rem;
  color: #333333;
  line-height: 1.8;
  margin-bottom: 40px;
  text-align: center;
}

.history-image {
  text-align: center;
  margin-top: 40px;
}

.history-image img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.history-image img:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }

  .section-description {
    font-size: 1rem;
  }

  .history-image img {
    width: 90%;
  }
  .features {
    grid-template-columns: 1fr;
  }
  .why-choose-solar {
    padding: 0;
  }
  .feature {
    width: auto;
  }
  .footer-menu {
    flex-direction: column;
  }
  .footer-content {
    display: block;
  }
  .mission-vision-content {
    flex-direction: column;
  }
  .container-contact {
    flex-direction: column;
  }
}
